.vid{
    align-items: center;
    text-align: center;
    background-color: rgb(198, 248, 231);
    padding-top: 5px;
    border-radius: 20px;   
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:  56px;
    background-color: rgb(183, 236, 248);
    border-radius: 10px;
    color:rgb(1, 39, 97);
    padding-inline-start:10px;
    padding-inline-end: 10px;
    border: 3px solid rgb(222, 237, 250);
  

}
.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 192, 46);
    background-color: rgb(196, 239, 246);
    height: 50px;
    align-items: center;
    padding-top: 5px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.info{
    margin-top: 15px;
    text-align: center;
    font-family:'Nirmala UI';
    font-size: 10px;
    color: rgb(1, 55, 81);
    
    display:inline-flex;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    background-color: rgb(184, 241, 251);
    
    border-radius: 5px;
}